html, body, main, div{
    margin: 0;
    padding: 0;
    list-style: none;
}

main{
    width: 100vw;
    height: 100vh;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caixa{
    /* width: 80%; */
    height: 250px;
    width: 250px;
    background-color: blanchedalmond;
    border: 3px solid red;
    border-style: double;
}
.area_de_movimento{
    width: inherit;
    height: inherit;
    background-image: url(./img/asfalto.jpg);
}
.bola{
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: linear-gradient(red, black, red);
    position: relative;
    bottom: 0px;
    left: 0px;
}